* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    background-color: #FAFAF9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #6C727F;
}

.tarjeta {
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.tarjeta__imagen {
    background-image: url(../img/cactus_img.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

span {
    background-color: #E6D6FC;
    color: #883AE1;
    font-weight: 700;
    padding: 5px 20px;
    width: auto;
    font-size: 10px;
    align-self: self-start;
    border-radius: 20px;
}

h1 {
    font-size: 18px;
    color: #20293A;
}

p {
    font-weight: 300;
    font-size: 14px;
}

.tarjeta__autor {
    border-top: 1px solid #E5EAF0;
    font-size: 12px;
    padding-top: 15px;
}